# lkk 2023
# git configuration: files to ignore for all time in all clones of this repository

# You can also make this user specific:
# Copy this file to ~/.gitignore
# then: git config --global core.excludesfile ~/.gitignore
# OR edit the file pointed to by the core.excludesfile variable in ~/.gitconfig

# Ignore editor backup files
*~

# Ignore Python byte compiled files
*.pyc

# Ignore logs
*.log

# Ignore object files
*.o

# Ignore
*.Po

# Ignore eclipse project artifacts
.project
.cproject
.settings
.autotools

# No automake files to ignore

/po/*.gmo

# ignore separate build directory
/gimpBuild
/resynthBuild

# ignore build artifacts in source tree: libraries and executables
# These should not exist: meson builds out of tree
lib/libresynthesizer.a
po/POTFILES
po/stamp-it
src/resynthesizer/resynthesizer
src/resynthesizer-gui/resynthesizer_gui
stamp-h1
src/resynthesizer-gui/.deps

# ignore vagga containers and home in the containers
.vagga
.home
