# lkk 2011
# git configuration: files to ignore for all time in all clones of this repository

# You can also make this user specific:
# Copy this file to ~/.gitignore
# then: git config --global core.excludesfile ~/.gitignore
# OR edit the file pointed to by the core.excludesfile variable in ~/.gitconfig

# Ignore editor backup files
*~

# Ignore Python byte compiled files
*.pyc

# Ignore logs
*.log

# Ignore object files
*.o

# Ignore
*.Po

# Ignore eclipse project
.project

# http://www.gnu.org/software/automake
# Track all Makefile.in because users won't have automake to generate them

# http://www.gnu.org/software/autoconf
# Don't track autoconf generated temporary files.
# Users don't need them, developers must generate their own

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
